.idea
.vs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
vc140.pdb

build

**/*.dll
**/*.exe
**/*.pdb
**/*.exe

**/*.hmi
**/*.symbols
**/*.hm_*

data/test.out
data/handmade_engine.symbols
data/handmade_win32.exe
